{{define "cart-num"}}
    <a href="/cart" class="btn position-relative">
        <i class="fa-solid fa-cart-shopping" style="font-size: 2rem">
        </i>
        {{ if $.cart_num}}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ $.cart_num }}
            {{ end }}
  </span>
    </a>
    <a class="navbar-brand" href="https://github.com/xiao-qi-w">
        <img src="/static/image/github.png" style="height: 40px" alt=""> Our Git
    </a>
{{end}}